{% extends 'base.html.twig' %}

{% block title %}{{ pageTitle }}{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>

    <ul>
        {% for contact in contacts %}
            <li>{{ contact.lastname }}, {{ contact.firstname }}</li>
        {% endfor %}
    </ul>
{% endblock %}
